<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>frequently used</string>
		<key>datas</key>
		<array>
			<dict>
				<key>title</key>
				<string>GenFlow Prepare</string>
				<key>detail</key>
				<string>将需要转换的strings文件放到srcDir中，然后点击此功能，在tsvDir生成对应模块的tsv文件夹，方便将tsv文件归类到相应位置</string>
				<key>switchView</key>
				<false/>
				<key>editable</key>
				<true/>
				<key>hasEdit</key>
				<true/>
				<key>editMethod</key>
				<string>genFlowPrepare:</string>
				<key>extraData</key>
				<string>XXXXX</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Common Flow</string>
				<key>detail</key>
				<string>标准合并字串工作流，先将tsv转化成strings，再将strings.文件合并，最后跟localizable.string比较并合并</string>
				<key>switchView</key>
				<false/>
				<key>editable</key>
				<true/>
				<key>hasEdit</key>
				<true/>
				<key>editMethod</key>
				<string>commonFlow:</string>
				<key>extraData</key>
				<string>XXXXX</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Tranlator</string>
				<key>detail</key>
				<string>使用google翻译，具体翻译文件在config中配置</string>
				<key>switchView</key>
				<false/>
				<key>editable</key>
				<true/>
				<key>hasEdit</key>
				<true/>
				<key>editMethod</key>
				<string>translate:</string>
				<key>extraData</key>
				<string>XXXXX</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Group TSV</string>
				<key>detail</key>
				<string> 语言本地话工具，用于将分组后的语言tsv文件与未分组的strings文件进行比较,匹配上的添加到tsv文件中，并导出一份未匹配列表</string>
				<key>switchView</key>
				<false/>
				<key>editable</key>
				<true/>
				<key>hasEdit</key>
				<true/>
				<key>editMethod</key>
				<string>groupFromTSV:</string>
				<key>extraData</key>
				<string>XXXXX</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Strings-&gt;TSV</string>
				<key>detail</key>
				<string> strings-&gt;tsv 或者tsv转strings</string>
				<key>switchView</key>
				<true/>
				<key>editable</key>
				<true/>
				<key>hasEdit</key>
				<true/>
				<key>editMethod</key>
				<string>tsvConvert:</string>
				<key>extraData</key>
				<string>XXXXX</string>
				<key>on</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>StringsExchange</string>
				<key>detail</key>
				<string>将strings文件key value位置交换</string>
				<key>switchView</key>
				<false/>
				<key>editable</key>
				<true/>
				<key>hasEdit</key>
				<true/>
				<key>editMethod</key>
				<string>exchange:</string>
				<key>extraData</key>
				<string>XXXXX</string>
			</dict>
			<dict>
				<key>title</key>
				<string>MergeOrDisperse</string>
				<key>detail</key>
				<string> 将strings文件合并或者按模块分散</string>
				<key>switchView</key>
				<true/>
				<key>editable</key>
				<true/>
				<key>hasEdit</key>
				<true/>
				<key>editMethod</key>
				<string>mergeOrdisperse:</string>
				<key>extraData</key>
				<string>XXXXX</string>
			</dict>
			<dict>
				<key>title</key>
				<string>DiffStrings</string>
				<key>detail</key>
				<string> 比较新旧两个strings文件，找出新增，减少，和修改的</string>
				<key>switchView</key>
				<false/>
				<key>editable</key>
				<true/>
				<key>hasEdit</key>
				<true/>
				<key>editMethod</key>
				<string>diffStrings:</string>
				<key>extraData</key>
				<string>XXXXX</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UpdateStringsByStrings</string>
				<key>detail</key>
				<string> 将新strings文件中的串替换掉原strings中的串，不在原strings中的就新增</string>
				<key>switchView</key>
				<false/>
				<key>editable</key>
				<true/>
				<key>hasEdit</key>
				<true/>
				<key>editMethod</key>
				<string>updateStringsByStrings:</string>
				<key>extraData</key>
				<string>XXXXX</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>rarely used</string>
		<key>datas</key>
		<array>
			<dict>
				<key>title</key>
				<string>Gen</string>
				<key>detail</key>
				<string>语言本地话工具，用于将项目中字串倒出，跟strings文件中比较，生成新的strings文件</string>
				<key>switchView</key>
				<false/>
				<key>editable</key>
				<true/>
				<key>hasEdit</key>
				<true/>
				<key>editMethod</key>
				<string>gen:</string>
				<key>extraData</key>
				<string>XXXXX</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Replace</string>
				<key>detail</key>
				<string>将项目中的所有语言key值替换成新strings文件中的value值</string>
				<key>switchView</key>
				<true/>
				<key>editable</key>
				<true/>
				<key>hasEdit</key>
				<true/>
				<key>editMethod</key>
				<string>replace:</string>
				<key>extraData</key>
				<string>XXXXX</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Group Project</string>
				<key>detail</key>
				<string>语言本地话工具，用于将strings中的字串按照在项目中所匹配到的路径分组</string>
				<key>switchView</key>
				<true/>
				<key>editable</key>
				<true/>
				<key>hasEdit</key>
				<true/>
				<key>editMethod</key>
				<string>groupFromProject:</string>
				<key>extraData</key>
				<string>XXXXX</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Strings-&gt;CSV</string>
				<key>detail</key>
				<string>strings-&gt;csv 或者csv转strings</string>
				<key>switchView</key>
				<true/>
				<key>editable</key>
				<true/>
				<key>hasEdit</key>
				<true/>
				<key>editMethod</key>
				<string>cvsConvert:</string>
				<key>extraData</key>
				<string>XXXXX</string>
			</dict>
			<dict>
				<key>title</key>
				<string>timezongList</string>
				<key>detail</key>
				<string>将时区文件strings中的文案替换掉plist中的文案</string>
				<key>switchView</key>
				<false/>
				<key>editable</key>
				<true/>
				<key>hasEdit</key>
				<true/>
				<key>editMethod</key>
				<string>timezoneUpdate:</string>
				<key>extraData</key>
				<string>XXXXX</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
