<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bc.devices.floodlight_settings</key>
	<string>fl</string>
	<key>bc.cloud.mo</key>
	<string>cl</string>
	<key>bc.devices.nas_help_tip4_3</key>
	<string>nas</string>
	<key>bc.cloud.weekly</key>
	<string>cl</string>
	<key>bc.bind.power_on_camera</key>
	<string>fl</string>
	<key>bc.devices.nas_help_tip2_2</key>
	<string>nas</string>
	<key>bc.bind.identify_live_ground wires</key>
	<string>fl</string>
	<key>bc.bind.discover_camera_fail</key>
	<string>fl</string>
	<key>bc.devices.nas_help_tip1</key>
	<string>nas</string>
	<key>bc.cloud.yr</key>
	<string>cl</string>
	<key>bc.cloud.billed</key>
	<string>cl</string>
	<key>bc.smartdetect.optional</key>
	<string>ai</string>
	<key>bc.devices.the_floodlight_had_been_removed_successfully</key>
	<string>fl</string>
	<key>bc.bind.floodlight_name</key>
	<string>fl</string>
	<key>bc.cloud.mm/yy</key>
	<string>cl</string>
	<key>bc.devices.add_light_on</key>
	<string>fl</string>
	<key>bc.bind.re-add</key>
	<string>fl</string>
	<key>bc.devices.nas_help_tip2_1</key>
	<string>nas</string>
	<key>bc.bind.led_is_solid_white</key>
	<string>fl</string>
	<key>bc.bind.connecting_camera</key>
	<string>fl</string>
	<key>bc.bind.connect_camera</key>
	<string>fl</string>
	<key>bc.devices.the_floodlight_is_offline</key>
	<string>fl</string>
	<key>bc.devices.nas_help_tip2</key>
	<string>nas</string>
	<key>bc.bind.continue_setup</key>
	<string>fl</string>
	<key>bc.bind.power_on_floodlight_cam</key>
	<string>fl</string>
	<key>bc.bind.add_wifi</key>
	<string>fl</string>
	<key>bc.player.floodlight_on</key>
	<string>fl</string>
	<key>bc.devices.the_camera_microphone_will_be_disabled</key>
	<string>fl</string>
	<key>bc.cloud.total:</key>
	<string>cl</string>
	<key>bc.cloud.daily</key>
	<string>cl</string>
	<key>bc.cloud.cvc</key>
	<string>cl</string>
	<key>bc.bind.phone_settings_tap_wifi</key>
	<string>fl</string>
	<key>bc.bind.device_been_added</key>
	<string>fl</string>
	<key>bc.devices.nas_help_tip4_1</key>
	<string>nas</string>
	<key>bc.bind.skip</key>
	<string>o</string>
	<key>bc.smartdetect.send_noti_when_this_face_detected</key>
	<string>ai</string>
	<key>bc.devicesetting.turn_off_led_status_light</key>
	<string>fl</string>
	<key>bc.mode.one_time</key>
	<string>mode</string>
	<key>bc.smartdetect.group</key>
	<string>ai</string>
	<key>bc.bind.router/isp_gateway_internet_access</key>
	<string>fl</string>
	<key>bc.bind.router_can_connect_internet</key>
	<string>fl</string>
	<key>bc.devices.change_wifi</key>
	<string>fl</string>
	<key>bc.bind.round_dot_button</key>
	<string>fl</string>
	<key>bc.bind.timeout_try_again</key>
	<string>fl</string>
	<key>bc.bind.connect_floodlight_wifi_tip</key>
	<string>fl</string>
	<key>bc.bind.camera_near_camera</key>
	<string>fl</string>
	<key>bc.bind.remove_light_take_photo</key>
	<string>fl</string>
	<key>bc.bind.wifi_password_empty_tip</key>
	<string>fl</string>
	<key>bc.mode.repeat_</key>
	<string>mode</string>
	<key>bc.devices.conflict_at</key>
	<string>mode</string>
	<key>bc.player.floodlight_off</key>
	<string>fl</string>
	<key>bc.cloud.fail_check_subscription_status_tip</key>
	<string>cl</string>
	<key>bc.devices.nas_help_tip3</key>
	<string>nas</string>
	<key>bc.bind.connect_phone_camera&apos;s_wifi</key>
	<string>fl</string>
	<key>bc.bind.camera_cannot_connect_wifi</key>
	<string>fl</string>
	<key>bc.bind.quit_setup_process</key>
	<string>fl</string>
	<key>bc.bind.enter_ssid_password</key>
	<string>fl</string>
	<key>bc.cloud.wk</key>
	<string>cl</string>
	<key>bc.bind.wifi_empty_tip</key>
	<string>fl</string>
	<key>bc.bind.connect_your_camera</key>
	<string>fl</string>
	<key>bc.bind.remove_wire_nut</key>
	<string>fl</string>
	<key>bc.bind.configure_wifi_success</key>
	<string>fl</string>
	<key>bc.bind.enable_phone_wifi_tip</key>
	<string>fl</string>
	<key>bc.bind.power_off_floodlight_cam</key>
	<string>fl</string>
	<key>bc.mode.to_</key>
	<string>mode</string>
	<key>bc.bind.adjust_angle_camera_floodlights</key>
	<string>fl</string>
	<key>bc.bind.install_rack_junction_box</key>
	<string>fl</string>
	<key>bc.bind.camera_is_connecting_network</key>
	<string>fl</string>
	<key>bc.bind.remove_power_cord</key>
	<string>fl</string>
	<key>bc.devices.the_camera_audio_will_disabled</key>
	<string>fl</string>
	<key>bc.bind.add_floodlight2</key>
	<string>fl</string>
	<key>bc.devices.nas_help_tip4</key>
	<string>nas</string>
	<key>bc.bind.add_floodlight</key>
	<string>fl</string>
	<key>bc.bind.mount_floodlight_cam</key>
	<string>fl</string>
	<key>bc.bind.name_cannot_be_empty</key>
	<string>fl</string>
	<key>bc.bind.failed_add_camera</key>
	<string>fl</string>
	<key>bc.devices.nas_help_tip3_1</key>
	<string>nas</string>
	<key>bc.devices.light_turn_off_out_of_above_periods</key>
	<string>fl</string>
	<key>bc.mode.from_</key>
	<string>mode</string>
	<key>bc.devices.lighting_settings</key>
	<string>fl</string>
	<key>bc.bind.caution</key>
	<string>fl</string>
	<key>bc.bind.camera_support_wi-fi</key>
	<string>fl</string>
	<key>bc.devices.the_start_time_must_be_earlier_than_end_time</key>
	<string>fl</string>
	<key>bc.bind.check_wires_power</key>
	<string>fl</string>
	<key>bc.bind.phone_connect_same_router</key>
	<string>fl</string>
	<key>bc.bind.5g_wifi_supported_camera</key>
	<string>fl</string>
	<key>bc.devices.light_turn_on_schedule</key>
	<string>fl</string>
	<key>bc.bind.turn_off_circuit_install_floodcam</key>
	<string>fl</string>
	<key>bc.devices.lighting_schedule</key>
	<string>fl</string>
	<key>bc.bind.confirm_router&apos;s_name_password</key>
	<string>fl</string>
	<key>bc.devices.remove_fl_confirm_tip</key>
	<string>fl</string>
	<key>bc.bind.press_the</key>
	<string>fl</string>
	<key>bc.smartdetect.mute_notification</key>
	<string>ai</string>
	<key>bc.cloud.processing_payment</key>
	<string>cl</string>
	<key>bc.bind.terminate_setup_tip</key>
	<string>fl</string>
	<key>bc.devices.battery_info</key>
	<string>o</string>
	<key></key>
	<string>o</string>
	<key>Automatic search</key>
	<string>o</string>
	<key>bc.html.bind_step3_tip1</key>
	<string>o</string>
	<key>Select Server</key>
	<string>o</string>
	<key>Qa Server</key>
	<string>o</string>
	<key>bc.html.bind_camera_step1_tip1</key>
	<string>o</string>
	<key>bc.html.bind_step1_tip2</key>
	<string>o</string>
	<key>Server List</key>
	<string>o</string>
	<key>Us Server</key>
	<string>o</string>
	<key>bc.html.bind_step2_tip1</key>
	<string>o</string>
	<key>Ci Server</key>
	<string>o</string>
	<key>Eu Server</key>
	<string>o</string>
	<key>ios暂时没有此功能</key>
	<string>o</string>
	<key>bc.html.bind_sensor_step2_tip1</key>
	<string>o</string>
	<key>bc.html.bind_step1_tip1</key>
	<string>o</string>
	<key>bc.html.bind_step4_tip1</key>
	<string>o</string>
</dict>
</plist>
